.env
venv/
# Ignore Python cache files
*.pyc
*.pyo
__pycache__/
*/__pycache__/

# Ignore Django static cache (optional)
*.log
*.pot
*.mo

# Ignore compiled XCache or similar cache folders (if exists)
*xcache*/
